/Session 2/.parcel-cache
/Session 2/node_modules
/Session 2/dist

/Session 3/.parcel-cache
/Session 3/node_modules
/Session 3/dist

/Session 4/.parcel-cache
/Session 4/node_modules
/Session 4/dist

/Session 5/.parcel-cache
/Session 5/node_modules
/Session 5/dist

/Session 6/.parcel-cache
/Session 6/node_modules
/Session 6/dist

/Session 7/.parcel-cache
/Session 7/node_modules
/Session 7/dist

/Session 8/.parcel-cache
/Session 8/node_modules
/Session 8/dist

/Session 9/.parcel-cache
/Session 9/node_modules
/Session 9/dist

/Session 10/.parcel-cache
/Session 10/node_modules
/Session 10/dist

/Session 11/.parcel-cache
/Session 11/node_modules
/Session 11/dist

/Session 12/.parcel-cache
/Session 12/node_modules
/Session 12/dist