/Session 2/.parcel-cache
/Session 2/node_modules
/Session 2/dist

/Session 3/.parcel-cache
/Session 3/node_modules
/Session 3/dist

/Session 4/.parcel-cache
/Session 4/node_modules
/Session 4/dist

/Session 5/.parcel-cache
/Session 5/node_modules
/Session 5/dist

/Session 6/.parcel-cache
/Session 6/node_modules
/Session 6/dist